.navBar{
    width: 100%;
    padding: 25px;
    border-bottom: 1px solid grey;
    overflow: hidden;
}
.navItems ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navItems li{
    margin-right: 50px ;
}

.navItems a{
    text-decoration: none;
    color: black;
}

.navItems a:hover{
    text-shadow: 2px 2px grey;
}
.navBrand h3{
    padding: 0px;
    margin: 0px;
    margin-right:100px ;
}

.navItems{
    display: flex;
}